<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="videolan-preview" value="https://f.feedz.io/videolan/preview/nuget/index.json" />
    
        <add key="github" value="https://nuget.pkg.github.com/Anthonyy232/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <!-- This section is used by the GitHub Actions runner to authenticate -->
        <github>
            <add key="Username" value="Anthonyy232" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
</configuration>