<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ResourceId>/subscriptions/ef4aa2eb-a1a5-4ff5-8859-ca65593c0963/resourcegroups/NagiAppResources/providers/Microsoft.Web/sites/NagiLastFM</ResourceId>
        <ResourceGroup>NagiAppResources</ResourceGroup>
        <ApiResourceId>/subscriptions/ef4aa2eb-a1a5-4ff5-8859-ca65593c0963/resourceGroups/NagiAppResources/providers/Microsoft.ApiManagement/service/NagiApiServerApi/apis/NagiApiServer</ApiResourceId>
        <OpenApiDocumentName>v1</OpenApiDocumentName>
        <UpdateApiOnPublish>true</UpdateApiOnPublish>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://nagilastfm-gvcvbkhccadca5ac.westcentralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>6747c4c7-6958-4edb-a2f7-01d7ae5d0285</ProjectGuid>
        <MSDeployServiceURL>nagilastfm-gvcvbkhccadca5ac.scm.westcentralus-01.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>NagiLastFM</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName/>
        <_SavePWD>false</_SavePWD>
        <_DestinationType>AzureWebSite</_DestinationType>
        <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    </PropertyGroup>
</Project>