<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nagiappapiserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef4aa2eb-a1a5-4ff5-8859-ca65593c0963/resourceGroups/NagiAppResources/providers/Microsoft.Web/sites/NagiAppApiServer</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://nagiappapiserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>